<style>
    @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(243, 243, 243), rgba(241, 241, 241, 0.664));
}
</style>



<body>

    <section id="surface-area">
      

     

        <div class="container" id="user-input">
            
                <a href="https://gymkhana.iitb.ac.in/profiles/oauth/authorize/?client_id=Rg3eTrYvWW3mgeadhDP4mVaGZ3mk7OUFsgiLFP3J&response_type=code&scope=ldap&redirect_uri=http://localhost:1337/home&state=some_state"><button>Sign in</button></a>

            
        </div>
    </section>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>